
  /* DeleteAccount page's style sheet*/
  .delete-account-container-sachini {
    text-align: center; 
    margin: 20px auto; 
    max-width: 400px; 
  }
  
  h2 {
    font-size: 24px; 
  }
  
  p {
    font-size: 18px; 
  }
  
  button {
    margin-top: 20px; 
  }
  
/*styles for cancel button */
.cancel-button-sachini {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  padding: 5px 10px; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; 
  display: block;
  margin: 10px auto; 
}

.cancel-button-sachini:hover {
  background-color: #ddd;
  color: #333;
}