@import url("../css/material-kit.css?v=3.0.4");
@import url("../css/nucleo-icons.css");
@import url("../css/nucleo-svg.css");
@import url("https://kit.fontawesome.com/42d5adcbca.js");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");

body{
    background:#7D26CD;
    .search-box{
      position: absolute;
      top: 50%;
      left: 35%;
      transform:translate(-50%,-50%);
      background: #ccc;
      height: 40px;
      width: 250px;
      display: flex;
      align-items: center;
      border-radius:40px;
      padding: 10px;
      &:hover{
        .s-box{
            width: 200px;
          padding: 0 6px;
        }
        .s-btn{
          background:#fff;
          
        }
      }
      .s-btn{
        color: #7D26CD;
        float:right;
        width: 40px;
        height: 40px;
        transition:.4s;
        border-radius:50%;
        background: #ccc;
        display:flex;
        justify-content:center;
        align-items:center;
        i{
          font-size:20px;
          margin-top: -2px;
         
        }
      }
      .s-box{
        border: none;
        background:none;
        outline:none;
        float:left;
        padding: 0;
        color:#7D26CD;
        font-size:16px;
        transition:.5s;
        line-height:40px;
        width: 0px;
      }
    }
  }
  