.headerclr{
    background-image: url(../img/paddy5.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    
    padding-top: 8rem;
    padding-bottom: 8rem;
    
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
