.popupk {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popupInnerk {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    text-align: center;
  }
  
  .closeBtnk {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .popk {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  .bankLabel{
    width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  }
  
  .tablek {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .tablek th,
  .tablek td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .tablek th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .tablek tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .tablek tr:hover {
    background-color: #ddd;
  }