.tablek {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
  }
  
  .tablek th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .tablek th {
    background-color: #f2f2f2;
  }
  
  .tablek td input[type="checkbox"] {
    margin-right: 5px;
  }
  
